/* Navbar */

.navbar {
    background-color: #F55A5A;
    color: #FFFFFF;
    height: 55px;
    display: flex;
    justify-content: center;
}

.navbar--title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar--title--icon {
    font-size: 24px;
    display: inline-flex;
    align-self: center;
}

.navbar--title--text {
    font-size: 15px;
}